body {
    background-color: #213b50;
    color: #fff;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    background-color: #2b4a64;
    box-shadow: none;
    border: 1px solid #213b50;
    color: #fff;
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #4e708c;
    border: 1px solid white;
    box-shadow: none;
    outline: none;
}

input[type="submit"] {
    height: 40px;
    width: 70px;
    background-color: #1ac056;
    font-weight: 900;
    color: #fff;
}

input[type="submit"]:hover {
    height: 40px;
    width: 70px;
    background-color: #1ac056;
    font-weight: 900;
    color: brown;
    cursor: pointer;
    filter: brightness(0.8);
    transition: 1s;
}
